#cropper {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}
#cropper-image {
    display: block;
    max-width: 100%;
}

#drop-area.drag-over {
    background-color: rgba(0, 0, 0, .1);
}

canvas {
    border: 1px solid #777;
}
